
<script>
  var statusField = document.getElementById("statusField");

  const getStatus = async () => {
    const response = await fetch("/status");
    let text = await response.text();
    statusField.textContent = text;

    if (!text.includes("Building")) {
      clearInterval(startWatching);
    }
  };

  const startWatching = setInterval(function () {
    getStatus();
  }, 250);
</script>

</body>
</html>

